---
---
@use 'main
{%- if jekyll.environment == 'production' -%}
  .bundle
{%- endif -%}
';

/* append your custom style below */

/* (선택) 스크롤 튐 미세 방지 */
#toc {
  overflow-anchor: none;
}

/* 헤딩 앵커 위치 보정 */
h1, h2, h3, h4, h5, h6 {
  scroll-margin-top: 5rem;
}
